

body {
    display: flex;
    justify-content: center;
    background-image: url(background.jpg);
    background-size: cover;
    
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    width: 70vw;
}

.tiles {
    height: 180px;
    border: solid black 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.tiles[data-index="0"] {
    border-left: none;
    border-top: none;
}

.tiles[data-index="1"] {
    border-top: none;
}

.tiles[data-index="2"] {
    border-right: none;
    border-top: none;
}


.tiles[data-index="3"] {
    border-left: none;
}

.tiles[data-index="5"] {
    border-right: none;
    
}

.tiles[data-index="6"] {
    border-left: none;
    border-bottom: none;
}

.tiles[data-index="7"] {
    border-bottom: none;
}

.tiles[data-index="8"] {
    border-right: none;
    border-bottom: none;
}


.resetBtn {
    color: rgb(255, 255, 255);
    background-color: #F87171;
    font-size: 24px;
    padding: 5px;
    border-radius: 4px;
    width: 220px;
    font-weight: bold;
    border: none;
    margin-bottom: 3em;
    height: 50px;
    justify-content: center;
    cursor: pointer;
    margin-top: .5em;
}


.resetBtn:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.score {
    background: #5f6061;
    color: white;
    padding: 8px 16px;
    margin: 5px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-top: 10px;
    height: 40px;
    font-size: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
}